.root {
  * {
    line-height: 1.4em;
    font-size: 16px;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
  }

  .date {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: .8em;
    font-style: italic;
    text-align: center;
  }
}

