.root {
  * {
    line-height: 1.4em;
    font-size: 16px;
  }

  .title {
    font-size: 40px;
    margin: 60px 0 30px;
    font-weight: bold;
    line-height: 1.2em;
  }

  h1 {
    font-size: 20px;
    margin: 52px 0 16px;
    font-weight: 600;
  }

  h2 {
    font-weight: bold;
    margin: 20px 0 16px;
  }

  p {
    margin: 16px 0;
  }

  ul {
    list-style: disc;
    margin-left: 18px;

    li {
      margin: 4px 0;
    }
  }
}

