@import '../variables';

.title {
  font-size: 40px;
  margin-top: 60px;
  font-weight: bold;
  line-height: 1.2em;
  text-align: left;
}

.image {
  max-width: $body-width;
  width: calc(100vw - #{$body-padding * 2});
}

.shortDescription {
  font-size: 18px;
  margin: 24px 0 32px 0;
  line-height: 1.3em;
  text-align: left;
  font-style: italic;
}

.place {
  margin-top: 8px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #e1001a;
  text-align: left;
}

.note {
  color: #e1001a;
  font-weight: 300;
  cursor: default;
  position: relative;
  top: -5px;
  left: 1px;
  margin-left: -1px;

  &:hover {
    > div {
      display: block;
    }
  }

  > div {
    display: none;
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 5px;
    color: black;
    background: white;
    font-size: 13px;
    width: 150px;
    border: 1px solid #e8e8e8;
    text-align: left;
    padding: 4px 12px;
    border-radius: 4px;
    /* box-shadow: 1px 1px 4px #00000017; */
    line-height: 1.2;  }
}

.parametersBlock {
  margin-top: 40px;

  .parametersBlockTitle {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
  }

  .parametersBlockDescription {
    text-align: left;
    margin-top: 16px;
    font-size: $basic-font-size;
  }

  .parametersBlockContent {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }
}

.matrix {
  display: flex;
  justify-content: center;
  flex: 1;

  .matrixColumn {
    display: flex;
    flex-direction: column;

    &:not(:first-child) {
      flex: 1;
    }

    &:not(:last-child) {
      flex: 1;
    }
  }

  .matrixRow {
    line-height: 1.3em;
  }
}

.features {
  display: flex;
  justify-content: center;
  flex: 1;

  .featureItem {
    //margin-bottom: 18px;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  .columnsColumn {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  .columnsCell {
    display: flex;
    font-size: $basic-font-size;
    margin-bottom: 16px;
    box-sizing: border-box;

    &::before {
      display: inline-block;
      content: "—";
      margin-right: 10px;
      margin-left: -22px;
      flex-shrink: 0;
      position: relative;
    }
  }
/*
  &.columns-count-1 {
    flex-direction: column;
  }

  &.columns-count-2 {
    .columnsCell {
      flex-basis: 50%;
      max-width: 50%;

      &:nth-child(odd) {
        padding-right: 30px;
      }

      &:nth-child(even) {
        padding-left: 30px;
      }
    }

    &.columnsChildrenCountEven {
      .columnsCell {
        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }

    &.columnsChildrenCountOdd {
      .columnsCell {
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }

  .columnsColumn {
    flex: 1;
  }

*/
}

.requirementPair {
  .requirementPairLabel,
  .requirementPairValue {
    font-size: $basic-font-size;
    display: inline;
  }

  .requirementPairLabel {
    &:not(:last-child) {
      &::after {
        content: ': ';
      }
    }
  }

  .requirementPairValue {
    font-weight: 500;
  }
}

.mainLanguage {
  margin: 0 0 20px;
}

@media (max-width: 540px) {
  .columns {
    &.columns-count-1,
    &.columns-count-2 {
      &.columnsChildrenCountEven,
      &.columnsChildrenCountOdd {
        .columnsCell {
          &:nth-child(odd),
          &:nth-child(even) {
            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 16px;
            padding-right: 0;
            padding-left: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }

          &::before {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.submitFormButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 60px;

  > a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e1001a;
    padding: 24px;
    font-size: 24px;
    border-radius: 8px;
    font-weight: 500;

    &,
    &:hover,
    &:visited,
    &:active {
      text-decoration: none;
    }
  }
}
