.root {
  .title {
    font-size: 40px;
    margin-top: 60px;
    font-weight: bold;
    line-height: 1.2em;
  }

  .date {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: .8em;
    font-style: italic;
  }
}

