.itemShortDescription {
  font-size: 16px;
  flex: 1;
  line-height: 1.1em;
  font-weight: 300;
}

.itemDate {
  font-size: 10px;
  margin-bottom: 8px;
  color: #000000;
}

.noItemsMessage {
  text-align: center;
  margin: 60px;
  font-size: 20px;
  font-style: italic;
}
