.itemPlace {
  font-size: 16px;
  flex: 1;
  line-height: 1.1em;
  font-weight: 700;
  color: #e1001a;
}

.itemShortDescription {
  font-size: 16px;
  flex: 1;
  line-height: 1.2em;
  font-weight: 300;
  margin-top: 12px;
}

.noItemsMessage {
  text-align: left;
  margin: 60px;
  font-size: 20px;
  font-style: italic;
}
