.root {
  * {
    line-height: 1.4em;
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
    margin: 52px 0 16px;
    font-weight: 600;
  }

  h2 {
    font-weight: bold;
    margin: 20px 0 16px;
  }

  p {
    margin: 16px 0;
  }

  ul {
    list-style: disc;
    margin-left: 18px;

    li {
      margin: 4px 0;
    }
  }

  img {
    max-width: 768px;
    width: calc(100vw - 32px); // todo: use global constants
  }
}

