.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
}

.menu {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.menuItem {
  padding: 8px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &.isActive {
    border-bottom: 5px solid #e1001a;
  }
}

.body {
  margin-top: 52px;
}
