.root {
  display: flex;
  min-height: calc(100vh - 32px); // todo: use global padding variable
  flex-direction: column;
}

.top {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 50px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menuSection {
  display: flex;
}

.menuItem {
  display: flex;
  padding: 8px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 5px solid transparent;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &.isActive {
    border-bottom-color: #e1001a;
  }
}

.body {
  margin-top: 40px;
}

@media (max-width: 540px) {
  .logoContainer {
    margin-bottom: 20px;
  }

  .header {
    flex-direction: column;
    align-items: stretch;
  }

  .menu {
    flex-direction: column;
  }

  .menuSection {
    flex-direction: column;
  }

  .menuItem {
    margin-bottom: 8px;
    border: none;
    padding: 8px 16px;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 0;
    }

    &.isActive,
    &:hover {
      background: #e1001a;
      border: none;
      color: white;
    }
  }
}

.footer {
  margin-top: 40px;
}
